#left {
	position:absolute;

    width: 600px;
     float: left;
     background-color: red;
  }
#right {
      margin-left: 600px;
      background-color: green;
    }
.clear {
      clear: both;
}

.form {
	clear: left;
}

