// based on https://coolors.co/e8eef2-ee5622-6b6d76-363537-ffbe0b
$theme: #FFBE0B;
$theme-highlighted: #EFAE00;
$primary: #EE5622;
$primary-highlighted: #FE6632;
$primary-active: #DE4612;
$white: white;
$sub: #363537;
$input: #E8EEF2;
$input-accesory: #D8DEE2;
$output: #6B6D76;
$output-accesory: #5B5D66;

$code-comment: #aaaaaa;
$code-dark-string-literal: #ee3333;